{% macro render_field(field, class='') %}

<div class="form-group">
    <label class="control-label col-lg-2" for="{{ field.id }}"> {{ field.label }}</label>
    <div class="col-lg-10">
        
        {% if field.type == "BooleanField" %}
            {{ field }}
        {% else %}
            {{ field(class_="form-control") }}
        {% endif %}
        {% for error in field.errors %}
            <span class="help-inline">{{ error }}</span>
        {% endfor %} 
    </div> 
</div> <!-- /.control-group -->

{% endmacro %}


{% macro form_button(path, text, class='btn', value="none") %}

<form action="{{path}}" method="post" class="ph-form-button">
    <button type="submit" class="{{class}}" name="action" value="{{value}}">{{text}}</button>
</form>

{% endmacro %}


{% macro flash() %}

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-info">
            <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
            <strong>{{ message }}</strong>
        </div>
        {% endfor %}
    {% endif %}
    {% endwith %}

{% endmacro %}


